@import('../../shared/_mixin.css.styl')

.account_book
  section.block
    .actions
      margin 18px 0 13px 144px
  form
    .selectric-wrapper,
    .selectric
      display inline-block
      width   255px
    .selectric,
    .selectric-items
      span.item
        display inline-block
        padding 0 8px
        width   225px
        i
          margin 0 9px 0 0
    .selectric
      .label,
      .button
        height      34px
        line-height 34px
    .selectric-items ul li
      height 34px
      border none
    .selectric-wrapper
      height 36px
