@import("../../shared/_mixin.css.styl")

// shared
section
  .ledger-header
    margin-bottom 3px
    .name
      display     inline-block
      font-size   21px
      font-weight normal
      margin      0 0 3px 0
    .term
      display inline-block
      float   right
      margin  4px 0 0 0
      .started_at,
      .finished_at
        background    $field-color
        border-radius 2px
        padding       4px 9px
      .started_at
        margin 0 5px 0 0
      .finished_at
        margin 0 1px 0 5px

section
  .sub-header
    margin 3px 0 9px 2px
    h5
      .icon
        display      inline-block
        margin-right 11px
      display inline-block
    p.description
      margin  0 0 2px 0
      display inline-block
      vertical-align bottom

section
  .segment
    .item
      span.currency
        float      right
        text-align right
