@import('../../shared/_mixin.css.styl')

.transaction
  section.block
    label
      display      inline-block
      margin-right 13px
      min-width    90px
      text-align   right
    label.label
      min-width  0
      text-align center
      width      auto
    .action
      margin 42px 0 13px 141px

.transaction
  .card
    min-width 500px
  #finance_transaction_total_amount
    font-size 150%

.transaction
  form.form
    #finance_transaction_involvements
      width  0
      height 0
    ul.tag-editor
      vertical-align top
      border-radius  2px
      min-width      401px
      display        inline-block
