@import("../shared/_mixin.css.styl")

#public
  .banner,
  .content
    text-align center
  .header
    z-index 1
    background-color $main-color
    border-bottom    darken($main-color, 30%)
    h1
      margin         21px 0 5px 25px
      font-size      3em
      text-align     left
  .banner
    background              transparent url("/assets/7103303237_5a11354e8b_x.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size    cover
    -o-background-size      cover
    background-size         cover
    margin                  86px 0 0 0
    display                 table
    height                  535px
    width                   100%
  .description
    background-color $main-color
    height           280px
    text-align       center
    padding          80px 0
    p
      margin 9px 0 17px 0
    span
      display inline-block
      margin  0 9px
  .concepts,
  .features
    margin     0
    padding    0
    min-height 220px
    .container
      margin     0 auto 0 auto
      padding    18px 0
      max-width  1024px
      text-align center
  .concepts
    background-color $hover-color
  .features
    background-color $main-color
  .second-banner
    height           180px
    background       transparent url("/assets/15650291956_89bfc39b45_o.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size    cover
    -o-background-size      cover
    background-size         cover

  .pricing-tables
    min-height 600px
    max-width  1024px
    text-align center
    margin     18px auto 36px auto
    .pricing-table
      border        1px solid $plain-color
      border-bottom 0
      margin        0.4em 0.8em
      .pricing-table-header
        color   white
        padding 18px 0
        h3
          margin 0 0 6px 0
        span.price
          font-size 4em
      .pricing-table-header.free
        background lighten($main-color, 45%)
      .pricing-table-header.basic
        background lighten($main-color, 15%)
      .pricing-table-header.premium
        background darken($main-color, 9%)
      .pricing-table-header.enterprise
        background lighten($main-color, 15%)
      .pricing-table-list
        text-align center
        list-style none
        margin     0
        padding    0
        li
          background-color #F7F7F7
          border-bottom    1px solid #E7E7E7
          padding          0.7em 0.1em
