//= require jquery-tag-editor/jquery.caret.min.js
//= require jquery-tag-editor/jquery.tag-editor.min.js

var Indicator = require('../modules/indicator');

(function($, Indicator) {
  'use strict';

  $(function() {
    // indicator
    (function() {
      var container = $('#contact_division');
      container.parent().append(
        '<span id="indicator"><img src="<%= asset_path("loading.gif") %>"></div>'
      );
      Indicator.setup($, container);
    })();

    // division codes updater
    (function() {
      var country  = $('#contact_country')
        , division = $('#contact_division')
        ;

      var setDivisionOptions = function(country_code, division_code) {
        if (typeof division_code === "undefined") {
          division_code = null;
        }
        $.ajax({
          dataType: 'json',
          url:      '/countries/' +
            encodeURIComponent(country_code) + '/divisions.json'
        })
        .fail(function() {
          division.empty();
          division.html('<option value="">---</option>');
          country.val('');
        })
        .done(function(data) {
          division.empty();
          data.unshift({name: '---', code: ''});
          $(data).each(function(key, value) {
            var code = $('<div/>').text(value.code).html()
              , name = $('<div/>').text(value.name).html()
              ;
            division.append(
              '<option value="' + code + '">' + name + '</option>'
            );
          });
          if (division_code) {
            division.val(division_code).prop('selected', true);
          }
          return true;
        });
      };
      var country_code  = country.val()
        , division_code = division.val()
        ;

      // initialize
      if (country_code) {
        setDivisionOptions(country_code, division_code);
      }

      country.change(function() {
        var country_code = $(this).val(); // refetch
        if (country_code === '') {
          division.empty();
          division.html('<option value="">---</option>');
          return true;
        }
        return setDivisionOptions(country_code);
      });
    })();

    // toggle address panel
    (function() {
      var panel = $('.address-panel');
      panel.find('a.toggle').click(function(e) {
        e.preventDefault();
        var klass   = 'closed'
          , icon    = $(this).children('i')
          , address = $('input.address')
          ;
        panel.toggleClass(klass);
        if (address) {
          if (panel.hasClass(klass)) {
            address.val('0');
          } else {
            address.val('1');
          }
        }
        icon.toggleClass('large angle double down icon');
        icon.toggleClass('large angle double up icon');
        return false;
      });
    })();

    // tag editor
    (function() {
      if ($.fn.tagEditor === undefined) { return; }

      var tagList = $('#contact_tag_list');
      tagList.tagEditor({
        'delimiter':      ','
      , 'forceLowercase': false
      , 'placeholder':    'Tag'
      });
    })();
  });
})(jQuery, Indicator);
