$main-color  = #6C5035
$hover-color = #4C331A

$error-color = #CA3C3C
$text-color  = #000000
$plain-color = #DDD7D2

$default-color  = #B8B894
$active-color   = lighten(#FFC2A3, 6%)
$primary-color  = lighten(#295200, 5%)
$disabled-color = darken(#D3D3D3, 7%)


// shared
legend-style = @block {
  border-bottom 1px solid #EEEEEE
  color         #333333
  display       block
  margin        9px 0 18px 0
  padding       0.3em 0
}
