@import("_mixin.css.styl")

span.label
  padding       2px 6px
  border-radius 2px
  color         white
  font-weight   bold
  font-size     75%
  line-height   0.8em
  text-align    center
  &.label-expense
    background #FF9933
  &.label-income
    background #477519
  &.label-default
    background $default-color
  &.label-primary
    background $primary-color
  &.label-active
    background $active-color
  &.label-disabled
    background $disabled-color
