@import("_mixin.css.styl")

.form
  width  100%
  margin 3px 0 19px 0
  input[type="submit"]
    margin 19px 0

.error-messages
  ul
    margin  9px 0 18px 0
    padding 0
    li
      list-style none
      color      $error-color

fieldset.group
  margin 9px 0px 18px 0

.form
  legend
    {legend-style}
    width 100%
  .field_with_errors
    display inline
    input[type="text"]
      color #CA3C3C

.select-form
  &.right
    text-align    right
    margin-bottom 0
    padding-right 3px

