@import("_mixin.css.styl")
// pure css

.pure-menu-heading
  text-transform none

// form
.pure-form
  fieldset
    padding 0
  input[type="text"],
  input[type="password"]
  select,
  textarea
    box-shadow none
  .pure-group
    input:first-child
      border-radius 2px 2px 0 0 !important
    textarea:last-child
      top           -1px
      border-radius 0 0 2px 2px !important

.pure-form.pure-form-stacked
  .pure-control-group
    label
      margin 0.9em 0 0.6em 0
    input[type="text"]
      min-width 125px

.pure-menu-link,
.pure-menu-disabled,
.pure-menu-heading
  padding 0.3em 1.2em

.pure-menu-has-children
  .pure-menu-children
    width 100%

.pure-button
  padding 0.8em 1.1em

.pure-button-primary
  background-color #336699


fieldset.pure-group
  label
    display inline-block
    margin  13px 0px 9px 0px

// table
table.pure-table
  border 1px solid $main-color
  thead
    th
      background $main-color
.pure-table-horizontal th,
.pure-table-horizontal td
  border-bottom 1px solid $main-color


nav
  a
    line-height 26px
  .pure-menu-selected
    a
      background #EEEEEE

.rightbar
  .pure-menu-horizontal
    .pure-menu-children
      left -1px
