// blue inks
$link-text-color    = #000052
$link-hover-color   = #336699
$link-visited-color = #000052

// brown colors
$main-color  = #6C5035
$hover-color = #A2988F

$text-color  = #0E0700
$dark-color  = #140A00 // dark brown
$white-color = #FFFFFF // white

// gray colors
$gray-color      = #ABAB9B
$dark-gray-color = #5F5F5F
$plain-color     = #DDD7D2
$field-color     = #F1EFED

$error-color = #CA3C3C // red

$highlight-color = #B8B894
$primary-color   = #336699

$active-color   = lighten(#FFC2A3, 6%)
$disabled-color = darken(#D3D3D3, 7%)

$red-color    = #9A1919
$green-color  = #477519
$yellow-color = #FFFFCC // sticky


// shared
legend-style = @block {
  border-bottom 1px solid #EEEEEE
  color         #333333
  display       block
  margin        9px 0 18px 0
  padding       0.3em 0
}
