@import("_mixin.css.styl")

// basic element
a
  color           $link-text-color
  text-decoration none
  &:visited
    color $link-visited-color
  &:hover
    color           $link-hover-color
    text-decoration underline


// flash
.flash-messages
  ul
    margin        0 0 13px 0
    padding       12px 22px
    border-radius 2px
    li
      list-style none
  ul.notice
    background-color #D6E0CC
    color            #336600
  ul.alert
    background-color #FDF5F2
    color            #AF5A3E


// heading
.content
  h3
    margin 0 0 18px 2px
  h4
    font-size   27px
    font-weight normal
    margin      0 0 9px 0
  h6
    font-size   17px
    font-weight normal
    margin      3px 0 3px 1px


// table
table.table
  width  100%
  margin 11px 0 18px 0
  th,
  td
    line-height 1.7em
  th
    font-weight normal
  td.operations
    text-align center
    ul
      margin  0
      padding 0
      li
        display    inline
        list-style none
        margin     0 3px

// sort
th
  span.attribute
    display      inline-block
    margin-right 4px
  ul.sort-links
    display inline
    padding 0
    margin  0
    li
      display    inline
      list-style none
  i.fa.fa-angle-up,
  i.fa.fa-angle-down
    font-weight    bold
    border-radius  2px
    display        inline-block
    margin         0
    padding        1px 3px
    text-align     center
    vertical-align middle
    color          #777777
    &:hover
      background-color #F3F3F3
    &.active
      color #CC0000

// pagination
pagination-link = @block {
  color   #777777
  display inline-block
  margin  0
}

pagination = @block {
  border-radius   2px
  text-decoration none
}

div.pagination > div
  vertical-align middle

nav.pagination,
.pagination-info
  margin 4px 0 0 1px
  &.right
    text-align    right
    margin-bottom 0
    padding-right 3px
  span
    line-height 27px
  span.prev
  span.next,
  span.current,
  span.page
    {pagination-link}
    {pagination}
    padding 0
    a
      {pagination-link}
      padding         0px 8px
      border          none
      text-decoration none
    &:hover
      background-color darken($field-color, 4%)
  span.page.gap
    border none
    &:hover
      background-color $white-color
  span.current
    padding          0px 8px
    color            $text-color
    background-color lighten($field-color, 2%)
    &:hover
      background-color lighten($field-color, 2%)


// widgets
.field
  padding 0
  &.left
    margin 0 6px 0 0
  &.right
    margin 0 0 0 6px
  h5
    margin 3px 0 13px 0
  ul
    font-size 15px
    padding   0
    li
      list-style none
    li.more
      text-align right
  p.asset
    padding    0
    margin     134px 0 0 0
    text-align right
    font-size  38px
  .wall
    min-height 175px
    padding    9px 18px
    background $field-color

.box
  margin 7px 0 13px 0
  .main
    padding 12px 2px 36px 2px
    h5
      margin         8px 0 13px 1px
      vertical-align middle
      font-size      21px
    nav.nav
      margin 0 0 3px 3px

.nav
  margin 0
  ul
    padding 0
    margin  0
    li
      list-style none


// nav
nav.btn
  ul
    border        1px solid #EEEEEE
    border-radius 2px
    &:hover
      border-radius 2px 2px 0 0
  ul.pure-menu-children
    padding       0
    border        1px solid #E3E3E3
    border-radius 0 0 2px 2px
    li.delimiter
      border-top 1px solid #EEEEEE
  a
    color           $text-color
    border          none
    text-decoration none
  input[type="submit"]
    color $text-color

nav.tab
  border-radius 2px 2px 0 0
  background    #EBE7E4
  line-height   9px
  ul.pure-menu-list
    background #EBE7E4
    li.pure-menu-item
      float      left
      list-style none
      a
        color       $text-color
        line-height 29px
      a:hover
        background      $plain-color
        color           $text-color
        text-decoration none
    li.pure-menu-selected
      a
        background #B8AEA4
        &:hover
          background #B8AEA4
          color      $text-color
  .pure-menu-has-children
    .pure-menu-children
      width     auto
      min-width 120px
  ul.pure-menu-children
    li.pure-menu-item
      float none
      a
        background none
      a:hover
        background $plain-color
  ul.pure-menu-children
    padding       0
    border        1px solid $plain-color
    border-radius 0 0 2px 2px

nav.segment-control
  margin-left 2px
  ul.pure-menu-list
    li:first-child
      border-left  1px solid $plain-color
    li:last-child
      border-left  1px solid $plain-color
      border-right 1px solid $plain-color
    li.pure-menu-item
      float  left
      margin 0
      a
        color      $gray-color
        background none
        display    inline-block
        padding    0 12px
        &:hover
          color $dark-gray-color
    li.pure-menu-selected
      a
        color $text-color
        &:hover
          color $text-color

// others
ul.actions
  display inline-block
  padding 0
  li
    display    inline
    list-style none

li.divider
  border-top 1px solid #EEEEEE
  height 0

span.tag
  background    #E0EAF1
  border-radius 2px
  a
    color           #46799B
    text-decoration none
span.tag,
span.more
  display     inline-block
  margin      0 2px 0 0
  padding     0 5px
  white-space nowrap
