// Customize

// Collections - Menu
.side-menu
  .ui.secondary.vertical.menu
    width        14rem
    margin-left  0
    margin-right 0
    .item,
    .item.active
      border-radius 0 !important
      margin        0

// Collections - Grid
.ui.grid
  margin 0
  > .column:not(.row)
    padding-top    0
    padding-bottom 0

.content-header
  .ui.grid
    .column
      padding-left  6px
      padding-right 6px

.inner-content
  .ui.grid
    margin 0
    > .column:not(.row)
      padding-top    6px
      padding-bottom 6px
      padding-left   0
      padding-right  0


// Views - Item
.ui.items > .item > .image:not(.ui)
  width 100px
