// colors

// brown
$brown-color       = #6B6040
$light-brown-color = #C2B49A
$coffee-color      = #E2CD9A
$chocolate-color   = #604727

// gray
$dark-gray-color  = #A6A39A
$gray-color       = #CBCBC1
$light-gray-color = #DFDFD7

// forest-green
$dark-forest-green-color  = #0D2C2E
$forest-green-color       = #93ACA9
$light-forest-green-color = #C5D0CA

// misc
$turquoise-color = #44917C
$pink-color      = #C57264
$black-color     = #0E0307
$orange-color    = #C3904F

$red-color    = #9A1919
$green-color  = #477519
$yellow-color = #FFFFCC // sticky

// blue inks
$blue-ink-color       = #000052
$light-blue-ink-color = #336699


// feature colors
$field-color   = #F1EFED
$error-color   = #CA3C3C
$primary-color = #336699

$active-color   = lighten(#FFC2A3, 6%)
$disabled-color = darken(#D3D3D3, 7%)


// shared styles
legend-style = @block {
  border-bottom 1px solid #EEEEEE
  color         #333333
  display       block
  margin        9px 0 18px 0
  padding       0.3em 0
}
