@import('_mixin.css.styl')

// icon
i.icon
  color   lighten($blue-ink-color, 7%)
  display inline-block
  margin  0 6px 0 4px


// font
.fa-5
  font-size 5.2em
.fa-4
  font-size 4.2em
.fa-3
  font-size 3.2em

// sticky
.sticky-note
  float            right
  margin           18px 2px 0 0
  height           38px
  min-width        255px
  background-color $yellow-color
  padding          9px 19px 2px 27px
  position         relative
  color            $blue-ink-color
  font-size        14px
  p
    margin  0
    display inline-block

// label
span.label,
label.label
  padding       2px 6px
  border-radius 2px
  color         white
  font-weight   bold
  font-size     75%
  line-height   0.8em
  text-align    center
  &.label-expense
    background $pink-color
  &.label-income
    background $turquoise-color
  &.label-primary
    background $primary-color
  &.label-active
    background $active-color
  &.label-disabled
    background $disabled-color
