@import('_mixin.css.styl')

$navbar-height    = 81px
$side-menu-height = 13rem

body
  display        flex
  flex-direction row
  color          #777777

.side-menu
  flex    0 0 auto
  z-index 1
  width   $side-menu-height
  .menu
    width      $side-menu-height
    background $chocolate-color !important
    i
      display inline-block
      padding 0
      margin  0 9px 0 0
    .item.top
      height $navbar-height / 2
    .item
      color   $gray-color
      border  none
      padding 16px 9px 16px 18px
      &:hover
        color      $light-gray-color !important
        background darken($chocolate-color, 13%) !important
      &.active
        color      $light-gray-color !important
        background darken($chocolate-color, 27%) !important


.main
  flex         1 1 auto
  min-height   800px
  line-height  1.333


.right-menu
  background-color #FAF9F8
  min-height 760px
  padding    13px 9px
  .locales
    padding 6px 0 21px 0
    margin  13px 0 0 3px
  .navs
    padding 6px 0 21px 0
    margin  18px 0 0 3px
    ul.links
      padding 0 0 0 2px
      li
        list-style none
        margin     13px 0

.right-menu
  h6
    margin      3px 0 6px 0
    font-weight normal
  nav.btn
    ul
      background-color #FFFFFF
      li
        form
          display inline-block
          width   100%
          height  100%
          input[type='submit']
            display    inline
            text-align left
            width      100%
            padding    13px 18px
            background none
            border     none
            cursor     pointer
            &:hover
              background-color #EEEEEE


.content-header
  height        $navbar-height
  margin        0 auto
  color         #CCCCCC
  text-align    left
  border-bottom 1px solid #EEEEEE
  h2
    color       #190318
    margin      9px 0 3px 0
    font-size   29px
    font-weight normal
  h3
    color       #CCCCCC
    margin      3px 0 0 0
    font-weight normal
    padding     0
    margin      0


.inner-content
  padding-top   13px
  padding-left  9px
  padding-right 9px
  min-height    837px


.navigation
  margin 0


// section
section.block
  padding 0
  .group
    label
      width 10em
    margin 8px 0
  hr
    background #C6BEB6
    border     medium none
    height     0.16em
    margin     10px 0 21px 0
  label
    display      inline-block
    margin-right 13px
    min-width    90px
    text-align   right

section.block .container
  margin 9px 0
  legend
    {legend-style}
  .action
    margin-top 42px


.footer
  flex         0 0 auto
  background-color #FAFAF8
  border-top       1px solid #EEEEEE
  font-size        87.5%
  padding          21px 21px 21px 26px
  line-height      1.6
  margin           0 auto
  ul.legal-links,
  p.copyright
    text-align right
    margin     5px 6px 3px 0
    padding    0
  ul.legal-links
    li
      list-style    none
      padding-right 6px

.footer.public
  ul.legal-links,
  p.copyright
    text-align left
