@import('_mixin.css.styl')

// Collections - Menu
.ui.vertical.menu
  box-shadow none
  width      13rem

.ui.inverted.menu
  border-radius 2px
  background    darken($chocolate-color, 27%)

// Collections - Grid
.ui.grid
  margin 0
  > .column:not(.row)
    padding-top    0
    padding-bottom 0

.ui.grid.content-header
  .column
    padding-left  3px
    padding-right 3px

.ui.grid.inner-content
  margin 0
  > .column:not(.row)
    padding-top    6px
    padding-bottom 6px
    padding-left   0
    padding-right  0

.inner-content
  .ui.grid
    .column:not(.row)
      padding-left  0
      padding-right 0

.ui.grid + .grid
  margin-top 0


// Collections - Breadcrumb
.ui.breadcrumb
  span.divider
    margin 0 6px

// Views - Item
.ui.items > .item > .image:not(.ui)
  width 100px
