section.view
  .finance
    h4
      display:     inline-block
      font-size:   28px
      font-weight: normal
      margin:      0
    p.term
      display:        inline-block
      vertical-align: bottom
      margin:         0 0 9px 13px
      span.start,
      span.end
        border:        1px solid #EEEEEE
        border-radius: 2px
        padding:       3px 9px
    .text
      margin: 4px 0
      p
        margin: 0
