.finance
  table
    td.check
      max-width  5px
      text-align center

.finance
  form
    textarea
      resize none

// shared
section.block
  .finance-header
    .pure-u-12-24
      vertical-align bottom
    h4
      display     inline-block
      font-size   21px
      font-weight normal
      margin      0 0 3px 0
    .description
      padding 0 0 0 3px
    .term
      display      inline-block
      float        right
      margin-right 1px
      span.started_at,
      span.finished_at
        background    #EEEEEE
        border-radius 2px
        padding       3px 9px
