.form
  width:  100%
  margin: 3px 0 19px 0
  input[type="submit"]
    margin: 19px 0
  .error-messages
    ul
      margin:  9px 0 18px 0
      padding: 0 0 0 16px
      li
        color: $error-color

fieldset.group
  margin: 9px 0px 18px 0
