.entry
  form
    label
      display block
  .ledger
    display block
    margin  0
    h5.title
      margin  0
    p.description
      margin      0 0 0 2px
      font-weight normal
      font-size   11px
  h6
    margin 13px 0 9px 1px

#ledger_entry_total_amount
  text-align right
