@import "shared/_mixin.css.styl"

section.ledger
  table
    td.total_amount
      text-align  right
      color       $text-color

.main
  .ledger-header
    h5.title
      margin 8px 0 3px 0
    p.description
      margin 0
