
// shared
// flash
.flash-messages
  ul
    margin:        0 0 18px 0
    padding:       13px 28px
    border-radius: 2px
    li
      list-style: none
  ul.notice
    border:           1px solid #B29980
    background-color: #E0D6CC
    color:            #331A00
  ul.alert
    border:           1px solid #CC3300
    background-color: #EBAD99
    color:            #7A1F00

// sticky
.sticky
  min-width:        310px
  height:           31px
  background-color: #F5F5F5
  padding:          19px 19px 3px 9px
  position:         relative
  color:            #140A00
  font-size:        14px
  //&:after
  //  min-width:          281px
  //  height:             26px
  //  padding:            9px 18px
  //  content:            ""
  //  position:           absolute
  //  top:                3px
  //  right:              1px
  //  -webkit-box-shadow: 0 5px 4px #555555
  //  -moz-box-shadow:    0 5px 4px #555555
  //  box-shadow:         0 5px 4px #555555
  //  -webkit-transform:  rotate(1.7deg)
  //  -moz-transform:     rotate(1.7deg)
  //  -o-transform:       rotate(1.7deg)
  //  -ms-transform:      rotate(1.7deg)
  //  transform:          rotate(1.7deg)
  //  z-index:            -100



// table
table.table
  width: 100%
  margin: 3px 0 18px 0
  td
    ul.operation
      margin:  0
      padding: 0
      li
        display:    inline
        list-style: none
        margin:     0 3px

// form
form.form
  width: 100%
  margin: 3px 0 18px 0
  input[type="submit"]
    margin: 18px 0

// show
section.view
  padding: 3px 3px
