$error-color = #CA3C3C

// button
.button-error
  color:      #FFFFFF
  background: $error-color


// flash
.flash-messages
  ul
    margin:        0 0 13px 0
    padding:       12px 22px
    border-radius: 2px
    li
      list-style: none
  ul.notice
    background-color: #D6E0CC
    color:            #336600
  ul.alert
    background-color: #FDF5F2
    color:            #AF5A3E


// sticky
.sticky
  min-width:        310px
  height:           31px
  background-color: #F5F5F5
  padding:          19px 19px 3px 9px
  position:         relative
  color:            #140A00
  font-size:        14px
  //&:after
  //  min-width:          281px
  //  height:             26px
  //  padding:            9px 18px
  //  content:            ""
  //  position:           absolute
  //  top:                3px
  //  right:              1px
  //  -webkit-box-shadow: 0 5px 4px #555555
  //  -moz-box-shadow:    0 5px 4px #555555
  //  box-shadow:         0 5px 4px #555555
  //  -webkit-transform:  rotate(1.7deg)
  //  -moz-transform:     rotate(1.7deg)
  //  -o-transform:       rotate(1.7deg)
  //  -ms-transform:      rotate(1.7deg)
  //  transform:          rotate(1.7deg)
  //  z-index:            -100


// content
.content
  h3
    margin: 0 0 18px 2px
  h4
    margin: 0 0 9px 0


// table
table.table
  width: 100%
  margin: 3px 0 18px 0
  td
    ul.operation
      margin:  0
      padding: 0
      li
        display:    inline
        list-style: none
        margin:     0 3px


// form
.form
  width:  100%
  margin: 3px 0 19px 0
  input[type="submit"]
    margin: 19px 0
  .error-messages
    ul
      margin:  9px 0 18px 0
      padding: 0 0 0 16px
      li
        color: $error-color
  &.right
    text-align:    right
    margin-bottom: 0


// show
section.view
  padding: 3px 3px
  h4
    font-size: 15px
    margin:  0 0 9px 0

.field
  padding: 9px 0
  &.left
    margin: 0 9px 0 0
  &.right
    margin: 0 0 0 9px
  h5
    margin:      3px 0 13px 0
    //font-size:   18px
    //font-weight: bold
  ul
    font-size: 15px
    padding:   0
    li
      list-style: none
    li.more
      text-align: right
  p.asset
    padding:    0
    margin:     134px 0 0 0
    text-align: right
    font-size:  38px
  .wall
    min-height: 175px
    padding:    9px 18px
    background: #EEEBE8


// shared
.action
  margin: 18px 0 18px 1px
  input[type="submit"].button,
  button.button,
  a.button
    margin-right: 31px
