h1 Clerkdesk
p
  | makes it easy
  | <br>
  | to manage your document work


h2 Your clean desk

h2 For small group

h2 Secure

p= link_to "Signup for Clerkdesk", locker_room.signup_url

p We will send you a account related email occasionally.
p Currently, closed beta :)
